abcdefghijklmnopqrstuvwxyz1111111111111111111111
{% if paginador.currentPage > 1 %}
   <a href="{{ path(ruta, {'page': paginador.previousPage}) }}">Anterior</a>
{% else %}
   Anterior
{% endif %}
{% if paginador.currentPage < paginador.lastPage %}
   <a href="{{ path(ruta, {'page': paginador.nextPage}) }}">Siguiente</a>
{% else %}
   Siguiente
{% endif %}

