[parameters]
    database_driver="pdo_mysql"
    database_host="localhost"
    database_port=""
    database_name="ensaimada"
    database_user="ensaimada"
    database_password="ensaimada"
    mailer_transport="smtp"
    mailer_host="localhost"
    mailer_user=""
    mailer_password=""
    locale="en"
    secret="b489b0e0f024368c87a9e76b8dfb016997e8994e"
